body {
    color: black;
    font-family: arial,verdana,serif;
    font-weight: normal;
    font-size: 1em;
}

#year {
    font-size: 1em;
    margin: 0 0 0 3em;
}

.quarter {
    margin: 0 0 0 1em;
}
