body {
    color: black;
    font-family: arial,verdana,serif;
    font-weight: normal;
    font-size: 1em;
}

table
{
    padding: 0 0;
    border-collapse: separete;
}

table.inBox
{
    width: 100%;
    background: #D0E0E0;
}

td, th {
    padding: 0 0.5em;
}

td.percent
{
    text-align: right;
}

td.hostname
{
    background-color: rgb(180, 218, 150);
}
