body {
    color: black;
    font-family: arial,verdana,serif;
    font-weight: normal;
    font-size: 1em;
}

div.table
{
	padding: 3em 0 0 0;
}

table
{
    border-collapse: separate;
}

table.report
{
	margin: auto;
}

table.inBox
{
    width: 100%;
    background: #D0E0E0;
}

td, th {
    padding: 0 0.5em;
}


div.avgTimeIdle
{
    text-align: left;
    margin: 0 0 0 2em;
}
td.hostname
{
    background-color: rgb(180, 218, 150);
    text-align: left;
}

td.servicename
{
    text-align: left;
}

td.timeIdle
{
    text-align: right;
}

input.timeHrs, input.timeMin
{
	width: 4em;
}
