extends layout

block content
	h2 Отчёт по месяцам
	table
		- Documents.forEach(function(doc){
			th
				a(href =doc.url)
					Доступность за 
					= doc.date.month
					|  месяц 
					= doc.date.year
					|  года
					= _id
		- })
		
		tr
			- Documents.forEach(function(doc){
				- var report = doc.report;
				td
					include cell
			- })
